<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="MyAspect" type="ken.Spikes.Aspects.Spring.MyAspect" />
      <object id="MyInterceptedClass" type="Spring.Aop.Framework.ProxyFactoryObject">
        <property name="target">
          <object id="MyClass" type="ken.Spikes.Aspects.MyClass" />
        </property>
        <property name="interceptorNames">
          <list>
            <value>MyAspect</value>
          </list>
        </property>
      </object>
    </objects>
  </spring>
</configuration>